<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="MySetting" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="MyOtherSetting" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint name="BingPort" address="" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>